.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.custom-dropdown {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 220px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    z-index: 200;
}

.dropdown-selected {
    padding: 12px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 100;
    border-radius: 0 0 6px 6px;
}

.option {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

    .option:last-child {
        border-bottom: none;
    }

    .option:hover {
        background-color: #f0f0f0;
    }

.trashcan {
    cursor: pointer;
    color: #f00;
}

    .trashcan:hover {
        color: darkred;
    }

.hover-area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hover-image {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: none;
    width: 80%;
    height: auto;
    max-height: 90vh;
    z-index: 10;
}

.hover-text {
    position: absolute;
    bottom: 8%;
    right: 10%;
    display: none;
    color: #ffffff;
    font-size: 24px;
    z-index: 11;
}

.hover-area:hover + .hover-image,
.hover-area:hover + .hover-image + .hover-text {
    display: block;
}

/* Adjusted styles for "Back to Home" image */
.back-to-index {
    position: absolute;
    bottom: 10px;
    left: 30px; /* Moved 20px to the right */
    width: 120px; /* Slightly increased size */
    height: auto;
}

    .back-to-index img {
        width: 100%;
        height: auto;
        transition: transform 0.2s;
    }

        .back-to-index img:hover {
            transform: scale(1.1); /* Apply hover scaling effect */
        }
