@page
@model WebAppsGruppInlamning.Pages.GaragePageModel
@{

}
<body>
    <img src="~/lib/Images/CarGarage.webp" alt="Background Image" usemap="#garageMap">
    <script src="~/js/Garage.js"></script>
</body>





    


