@page
@model WebAppsGruppInlamning.Pages.GaragePageModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Garage.css">
    <title>Garage Dropdown</title>
</head>
<body>
    <div class="container">
        <img src="~/lib/Images/CarGarage.webp" alt="Garage Background" style="width: 100%; height: auto; display: block;">
        <div class="custom-dropdown">
            <div class="dropdown-selected">Select a car</div>
            <div class="dropdown-options">
                <div class="option">Ferrari <span class="trashcan">&#x1F5D1;</span></div>
                <div class="option">Lamborghini <span class="trashcan">&#x1F5D1;</span></div>
                <div class="option">Porsche <span class="trashcan">&#x1F5D1;</span></div>
                <div class="option">BMW <span class="trashcan">&#x1F5D1;</span></div>
            </div>
        </div>
        <div class="image-wrapper back-to-index">
            <a href="index.html">
                <img src="~/lib/Images/BackToHome.webp" alt="Back to Home">
            </a>
        </div>
        <div class="hover-area"></div>
        <img src="~/lib/Images/Boss.webp" alt="Boss Image" class="hover-image">
        <div class="hover-text">GO BACK TO WORK</div>
    </div>
    <script src="~/js/Garage.js"></script>
</body>
</html>

