@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="image-wrapper">
        <img src="~/lib/Images/FrontDesk.webp" alt="Image 1" onclick="navigateTo('FrontDesk')">
    </div>
    <div class="image-wrapper">
        <img src="~/lib/Images/Garage.webp" alt="Garage" onclick="navigateTo('GaragePage')">
    </div>
    <div class="image-wrapper">
        <img src="image3.jpg" alt="Image 3" onclick="navigateTo('Page3')">
    </div>
    <div class="image-wrapper">
        <img src="~/lib/Images/Mechanic.webp" alt="Image 4" onclick="navigateTo('BuildCarPage')">
    </div>
</div>
<script>
    function navigateTo(pageName) {
        window.location.href = '/' + pageName;
    }
</script>

